h2 {
  color: white;
  font-size: 48px;
}

.status {
  border-radius: 8px;
  padding: 18px 0px;
  width: 500px;
  p {

    font-size: 18px;
  }
}
.pending {
  color: orange;
  font-weight: bold ;
}

.approved {
  color: rgb(53, 221, 11);
  font-weight: bold ;
}

.denied {
  color: red;
  font-weight: bold ;
}

.message {
  font-style: italic;
  color: rgba(0,0,0,0.8);
}

.owner-reply {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-b {
  color: $primary;
  opacity: 0.6;
}

.icon-status {
  font-size: 44px;
}
.request-card {
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
  padding: 28px;
  margin-bottom: 24px;

  h5 {
    font-weight: bold;
    color: $primary;
  }
}

.details-cont {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.booking-icon {
  width: 22px;
  height: 22px;
}
