// Import page-specific CSS files here.
@import "home";
@import "booking";
@import "index-bookings";
@import "auth";
@import "new-dog";
@import "index-dogs";


.index-header {
  // margin-top: 40px;
  color: black;
  font-size: 45px;
}

#dog-colored {
  color: $primary;
}

.pagination {
  display: flex;
  justify-content: space-around;
  padding: 0px 55px;
}

.page-item {
  width: 500px;
}

.in {
  text-align: center;
  background-color: #F4F4F4;
  border: 0px 0px 2px 0px;
}
