.no-dogs {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#no-dog-msg {
  margin-top: 12px;
}

.card-booking-request {
  background-color: white;
  height: 96px;
  margin: 24px 0px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.my-requests-content {
  margin: 36px 0px;
  h2 {
    color: rgba(0,0,0,0.8);
  }
}

.share-dog-intro {
  margin: 92px 0px 0px 0px;
  h2 {
    color: $primary;
  }
}