
 <i class="fas fa-long-arrow-alt-right"></i>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="card-box">
         <div class="card"></div>
         <div class="card"></div>
          <div class="card"></div>
          <h2>All Dogs</h2>
          <% @dogs.each do |dog| %>
            <div class="card-product">
                  <% dog.photos.each do |photo| %>
              <div class="card-product-infos">
                  <%= cl_image_tag dog.photos.key, height: 150, width: 300, crop: :fill %>
                  <div class="profile-info" style="height: 170px;">>
                <% end %>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

