<div class="footer">
  <div class="footer-copyright">
    <div>
      <span>&copy Dogbnb, Inc.</span>
    </div>
    <div class="footer-terms">
      <span> - </span>
      <a href="#">Privacy</a>
      <span> - </span>
      <a href="#">Terms</a>
      <span> - </span>
      <a href="#">Sitemap</a>
    </div>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>

