<div class="banner d-flex justify-content-center align-items-center flex-column">
  <h1>Become a part-time <strong>dog</strong> owner</h1>
  <a href="#" class="button">Get a pet!</a>
</div>
<div class="container">
  <h3>Rent a Dog <i class="fas fa-long-arrow-alt-right" style="font-size: 30px;"></i></h3>
  <div class="card-box">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
<div class="container">
  <h3>Popular activities  <i class="fas fa-long-arrow-alt-right" style="font-size: 30px;"></i></h3>
  <div class="card-box">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
<div class="container">
  <div class="big-card d-flex">
    <div class="big-card-info">
      <h2>Become a Dog sharer</h2>
      <p>Share your pets and bring joy to the world</p>
      <a href="#" class="button">Learn more</a>
    </div>
    <div class="big-card-picture">

    </div>
  </div>
</div>
<div class="footer">

</div>
