.marker {
  width: 150px;
  height: 150px;
}

.dog-info-map {
  position: relative;
}

.dog-image-map {
  margin-top: 8px;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  object-fit: cover;
}

.dog-breed-map {
  margin-top: -5px;
}

.see-more-map {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.general-info-map {
  h4 {
    font-size: 18px;
  }
}
