.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 8px 96px;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  width: 540px;

  .nav-3items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
  }

  .nav-signout {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
  }
}

.nav-item2 {
  display: flex;
  justify-content: space-between;
  width: 144px;
}

.item {
  color: #858585;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.new-dog {
  border-radius: 8px;
}
